<%- include('cabecera', {titulo: 'Carniceria - Juan Carlos Calleja'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Carniceria de Juan Carlos Calleja</h1>
    <div class="row center-align">
      <h5 class="header col s12">
        Consigue tu turno
      </h5>
    </div>
    <div class="row center-align">
      <a href="/turno">Conseguir tu turno</a>
    </div>
  </div>
</div>
  <br><br>
</div>
<%- include('pie') -%>
