<%- include('cabecera', {titulo: 'Plantilla - Juan Carlos Calleja'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Plantilla de Juan Carlos Calleja</h1>
    <div class="row center-align">
      <h5 class="header col s12">
        Pagina PlantillaWeb
      </h5>
    </div>
  </div>
</div>
  <br><br>
</div>
<%- include('pie') -%>
