<%- include('cabecera', {titulo: 'Inicializador'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">incializando Base de datos</h1>
    <div class="row center-align">
      <h5 class="header col s12">
        Se esta creando la base de datos
      </h5>
    </div>
  </div>
</div>
<%- include('pie') -%>
