<%- include('cabecera', {titulo:"Sesion cerrada",iniciar:"block",cerrar:"none",iniciada:"none"}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Sesión de <%= despedida%> cerrada</h1>
  </div>
  <div class="container">
    <br><br>
    <p class="center-align">Vuelve Pronto <%= despedida%>!!</p>
  </div>
</div>
<%- include('pie') -%>
